<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конфигурация</title>
</head>
<body>
<p>Чтобы оставить настройки по умолчанию нажмите кнопку "Подтвердить"</p>
<h3>Конфигурация</h3>
<form method="POST">
    <label>Путь до DLL</label><br>
    <input type="text" name="dllPath"/><br><br>
    <label>Имя процесса</label><br>
    <input type="text" name="processName"/><br><br>
    <label>ip PostgreSQL</label><br>
    <input type="text" name="ipPsql"/><br><br>
    <label>Порт PostgreSQL</label><br>
    <input type="text" name="portPsql"/><br><br>
    <label>Пользователь PostgreSQL</label><br>
    <input type="text" name="userPsql"/><br><br>
    <label>Пароль PostgreSQL</label><br>
    <input type="text" name="passwordPsql"/><br><br>
    <label>База данных PostgreSQL</label><br>
    <input type="text" name="dbasePsql"/><br><br>
    <input type="submit" value="Подтвердить"/>
</form>
</body>
</html>